/*
CSS stylesheet for all .html files

Responsive web design: https://www.w3schools.com/Css/css_rwd_intro.asp

Container flexbox: https://css-tricks.com/snippets/css/a-guide-to-flexbox/#flexbox-background

Centering stuff: https://medium.freecodecamp.org/how-to-center-things-with-style-in-css-dc87b7542689

Color: Monokai theme
  https://color.adobe.com/Monokai-color-theme-1855832/
*/
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}
#body_content {
  min-height: 100%;
  position: relative;
}
a:hover, button:hover {
  cursor: pointer;
}

/* Index.html styles */
.spotify_widget {
  /* Center the main div */
  display: block;
  text-align: center;
}
.spotify_widget iframe {
  display: inline-block;
  padding: 2%;
  margin: 30px;
  background-color: #EDEDED;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.band_cover {
  /* Center the image */
  display: block;
  margin-left: auto;
  margin-right: auto;
  /* Sizing of image */
  width: 50%;
  height: auto;
  /* Spacing for top and bottom of image */
  margin-top: 10px;
  margin-bottom: 10px;
}

/* General Footer CSS styles */
#footer {
  position: absolute;
  left: 0;
  padding-bottom: 10px;
  padding-left: 20px;
  width: 100%; 
}
#footer p {
  display: inline-block;
  font-family: 'Open Sans', Helvetica;
  font-weight: 600;
  font-size: 20px;
  margin-right: 10px;
}
.icon {
  display: inline-block;
  height: 40px;
}
#footer_content {
  text-align: center;
}
#footer_content img {
  margin-left: 10px;
  margin-right: 10px;
}
#footer_content a {
  /* Remove any text decoration present */
  text-decoration: none !important;
}

/* book.html styles */
.book_recommendation::before {
  /* Add unicode character for book */
  display: block;
  content: "\1F56E";
  font-size: 150px;
}

.title {
  display: inline-block;
  font-weight: 700;
  font-family: 'Open Sans', Helvetica;
  font-size: 35px;
  padding: 5px 15px 5px 15px;
  background-color: #A37Ef2;
  width: auto;
}

.author {
  font-weight: 300;
  font-family: 'Open Sans', Helvetica;
  font-size: 25px;
  position: relative;
  right: -10%;
  color: #252525;
}

.text_hover:hover, #book_list a:hover {
  color: #f22987;
}

#book_1, #book_2, #book_3 {
  margin: 10%;
}
/* Format book cover pictures in book.html */
.book_cover {
  /* Center the image */
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5%;
  /* 
  Make image responsive (default values) 
  (for bigger screens, different width and height through media queries
  */
  width: 50%;
  height: 50%;
}

/* Purchase link for books */
.purchase_button {
  display: inline-block;
  padding: 0.35em 1.2em;
  width: 100px;
  border: 0.1em solid #FFFFFF;
  margin: 0 0.3em 0.3em 0;
  border-radius: 0.12em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Open Sans', Helvetica;
  font-weight: 300;
  color: #ffffff;
  background-color: #f22987;
  text-align: center;
  transition: all 0.2s;
}
.purchase_button:hover {
  background-color: #6be5f2;
}

/* Book summary paragraph */
.book_summary {
  line-height: 2;
  font-size: 22px;
  font-family: 'Open Sans', Helvetica;
  margin-top: 30px;
  margin-bottom: 30px;
}

/* Book quote style */
.book_quote {
  padding: 0px 30px 40px 30px;
  font-size: 22px;
  font-family: Raleway, Helvetica;
  font-weight: 500;
  /*font-style: italic;*/
  line-height: 1.8;
  color: black;
  background:#EDEDED;
}
.book_quote::before {
  /* 
  Added left double quotation mark, unicode of U+201C (&#x201C)
  */
  display: block;
  content: "\201C";
  font-family: Helvetica, sans-serif;
  font-size: 80px;
  color: #f22987;
  margin-bottom: -50px;
}

/* Navigation of book titles in book.html */
#book_list li {
  font-family: 'Open Sans', Helvetica;
  font-size: 25px;
  margin-left: 10%;
  margin-right: 10%;
  padding-bottom: 5%;
}

#book_list li:hover {
  color: #f22987;
  transform: scale(1.08);
  margin-left: 12%;
}

#book_list a:hover {
  color: #f22987;
  transform: scale(1.08);
}

#book_list a {
  text-decoration: none;
  color: black;
}

.section_heading {
  text-align: center;
  margin-bottom: 30px;
  font-size: 45px;
  font-family: 'Open Sans', Helvetica;
  font-weight: 200;
}

.quote blockquote {
  padding-top: 2%;
  padding-bottom: 5%;
  font-weight: 400;
  font-size: 30px;
}

/* For image layout in photography.html */
.image_container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: baseline;
  align-content: space-around;
}

.image_col {
  margin-bottom: 5%;
  flex-basis: 45%;
}

/* For Small devices */
@media (max-width: 767px) {
  .display-1 {
    font-size: 80px;
  }
  .quote blockquote {
    font-size: 28px;
  }
  /* Stack image row on top of one another */
  .image_col {
    flex-basis: 100%;
  }
  /* Change font size for smaller screens */
  .book_quote, .book_summary {
    font-size: 17px;
  }
  #book_list li {
    font-size: 17px;
  }
}

/* For Medium devices */
@media (min-width: 768px) {
  .quote blockquote {
    font-size: 35px;
  }
  .section_heading {
    font-size: 90px;
  }
  .book_cover {
    width: 40%;
    height: auto;
  }
}

/* For Large devices (laptops/desktops) */
@media (min-width: 992px) {
  .quote blockquote {
    font-size: 42px;
  }
  .section_heading {
    font-size: 100px;
  }
  .book_cover {
    width: 30%;
    height: auto;
  }
}
