/*
CSS stylesheet for all .html files
Responsive web design: https://www.w3schools.com/Css/css_rwd_intro.asp
Container flexbox: https://css-tricks.com/snippets/css/a-guide-to-flexbox/#flexbox-background
*/
.section_heading {
  text-align: center;
  margin-bottom: 30px;
  font-size: 70px;
}

.quote blockquote {
  padding-top: 2%;
  padding-bottom: 5%;
  font-weight: 400;
  font-size: 30px;
}

/* Image container */
.image_container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: baseline;
  align-content: space-around;
}

/* 
Image column (3 images on one row)
*/
.image_col {
  margin-bottom: 5%;
  flex-basis: 30%;
}

/* For Small devices */
@media (max-width: 767px) {
  .display-1 {
    font-size: 80px;
  }
  .quote blockquote {
    font-size: 29px;
  }
  /* Stack image row on top of one another */
  .image_col {
    flex-basis: 100%;
  }
}

/* For Medium devices */
@media (min-width: 768px) {
  .quote blockquote {
    font-size: 35px;
  }
}

/* For Large devices (laptops/desktops) */
@media (min-width: 992px) {
  .quote blockquote {
    font-size: 42px;
  }
}
